/IVR-Platform/target/
/ivr-vxml-project/target/
/simple-vxml-project/nbproject/private/
/AsteriskIVRProject/target/
/AsteriskVxmlAgiProject/nbproject/private/
/AsteriskVXMLProject/nbproject/private/
/AsteriskVXMLProject/build/
